<ion-header>
  <ion-toolbar color="">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/search">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
<!--     <ion-buttons slot="start"> 
      <ion-back-button defaultHref="home"></ion-back-button> 
    </ion-buttons> color="primary" -->
    <ion-title>
      Расписание
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="" class="days">

    <ion-buttons slot="start">
      <ion-button>
        <ion-badge color="light">
          СБ 1
        </ion-badge>
      </ion-button>
      <ion-button>
        <div>ВС</div>
        <div>2</div>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

    <ion-item>
      <ion-label>Тема</ion-label>
      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One" value="Игры">
        <ion-select-option value="Игры">Игры</ion-select-option>
        <ion-select-option value="open-source">Open-source</ion-select-option>
        <ion-select-option value="разное">Разное</ion-select-option>
        <ion-select-option value="BIM-секция">BIM-секция</ion-select-option>
      </ion-select>
    </ion-item>



</ion-header>

<ion-content>


  <ion-refresher [disabled]="false" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-item-group>
    <ion-item-divider color="light">17:30</ion-item-divider>

    <ion-item class="danger">
      <a routerLink="/item/2">
        <div class="list_wraper">
          <strong>Бобот сотоварищи</strong>
            <div class="like">
              <ion-icon name="heart-empty"></ion-icon>  
            </div>

          <div class="overflow__text"> 
            <p> 17:30 - 18:30, Зал "СИТИУС" - ЗА ЖИЗНЬ</p>
          </div>
        </div>
      </a>

    </ion-item>

    <ion-item class="">
      <a routerLink="/item/2">
        <div class="list_wraper">
          <strong>Открытие конференции</strong>
              <div class="like">
                <ion-icon name="heart-empty"></ion-icon>  
              </div>
              
          <div> 
            <p> 18:30 - 19:00, Главный зал</p>
          </div>
        </div>
      </a>
    </ion-item>
    <ion-item class="">
      <a routerLink="/item/2">
        <div class="list_wraper">
          <strong>Закрытие конференции</strong>
              <div class="like">
                <ion-icon name="heart-empty"></ion-icon>  
              </div>
              
          <div> 
            <p> 20:30 - 21:30, Главный зал</p>
          </div>
        </div>
      </a>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">19:30</ion-item-divider>
    <ion-item class="danger">
      <a routerLink="/item/2">

        <div class="list_wraper">
          <strong>От 2D иллюстраций к концепт-артам: как освоить новую профессию</strong>
            <div class="like">
              <ion-icon name="heart-empty"></ion-icon>  
            </div>
            
          <div class="overflow__text"> 
            <p> 17:30 - 18:30, Зал "СИТИУС" - ЗА ЖИЗНЬ</p>
          </div>
        </div>
</a>
    </ion-item>
    <ion-item class="interesting">
      <a routerLink="/item/2">
      <div class="list_wraper">
        <strong>Wacom Турнир: Звездные Перцы</strong>
            <div class="like">
              <ion-icon name="heart-empty"></ion-icon>  
            </div>
            
        <div> 
          <p> 17:30 - 18:30, Главный экран</p>
        </div>
      </div>
    </a>
    </ion-item>
    <ion-item class="default">
      <a routerLink="/item/2">
      <div class="list_wraper">
        <strong>Motivation? Level 0</strong>
            <div class="like">
              <ion-icon name="heart-empty"></ion-icon>  
            </div>
            
        <div> 
          <p> 17:30 - 18:30, Главный экран</p>
        </div>
      </div>
    </a>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">17:30</ion-item-divider>

    <ion-item class="danger">
      <a routerLink="/item/2">
        <div class="list_wraper">
          <strong>Бобот сотоварищи</strong>
            <div class="like">
              <ion-icon name="heart-empty"></ion-icon>  
            </div>

          <div class="overflow__text"> 
            <p> 17:30 - 18:30, Зал "СИТИУС" - ЗА ЖИЗНЬ</p>
          </div>
        </div>
      </a>

    </ion-item>

    <ion-item class="">
      <a routerLink="/item/2">
        <div class="list_wraper">
          <strong>Открытие конференции</strong>
              <div class="like">
                <ion-icon name="heart-empty"></ion-icon>  
              </div>
              
          <div> 
            <p> 18:30 - 19:00, Главный зал</p>
          </div>
        </div>
      </a>
    </ion-item>
    <ion-item class="">
      <a routerLink="/item/2">
        <div class="list_wraper">
          <strong>Закрытие конференции</strong>
              <div class="like">
                <ion-icon name="heart-empty"></ion-icon>  
              </div>
              
          <div> 
            <p> 20:30 - 21:30, Главный зал</p>
          </div>
        </div>
      </a>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">19:30</ion-item-divider>
    <ion-item class="danger">
      <a routerLink="/item/2">

        <div class="list_wraper">
          <strong>От 2D иллюстраций к концепт-артам: как освоить новую профессию</strong>
            <div class="like">
              <ion-icon name="heart-empty"></ion-icon>  
            </div>
            
          <div class="overflow__text"> 
            <p> 17:30 - 18:30, Зал "СИТИУС" - ЗА ЖИЗНЬ</p>
          </div>
        </div>
</a>
    </ion-item>
    <ion-item class="interesting">
      <a routerLink="/item/2">
      <div class="list_wraper">
        <strong>Wacom Турнир: Звездные Перцы</strong>
            <div class="like">
              <ion-icon name="heart-empty"></ion-icon>  
            </div>
            
        <div> 
          <p> 17:30 - 18:30, Главный экран</p>
        </div>
      </div>
    </a>
    </ion-item>
    <ion-item class="default">
      <a routerLink="/item/2">
      <div class="list_wraper">
        <strong>Motivation? Level 0</strong>
            <div class="like">
              <ion-icon name="heart-empty"></ion-icon>  
            </div>
            
        <div> 
          <p> 17:30 - 18:30, Главный экран</p>
        </div>
      </div>
    </a>
    </ion-item>
  </ion-item-group>
</ion-content>