<ion-header>
  <ion-toolbar color="">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="list"></ion-back-button> 
    </ion-buttons>
    <ion-title>
     {{ event.name }}<!-- {{id}} -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-item-group>
		<div>
			<ion-title padding-start padding-top>{{ event.name }}</ion-title>
			<div padding-start padding-top>декабря {{ event.date }}, {{ event.time_start }} - {{ event.time_end }}</div>
			<div padding-start padding-top padding-bottom>Зал "{{hallsObject[event.hall_id].name}}" - {{hallsObject[event.hall_id].theme}}</div>
		</div>
		<div class="star" padding-start padding-bottom>	
			<div class="star__iner">	
				<ion-icon name="star" [color]="event.raiting>0?'danger':''"></ion-icon>
				<ion-icon name="star" [color]="event.raiting>1?'danger':''"></ion-icon>
				<ion-icon name="star" [color]="event.raiting>2?'danger':''"></ion-icon>
				<ion-icon name="star" [color]="event.raiting>3?'danger':''"></ion-icon>
				<ion-icon name="star" [color]="event.raiting>4?'danger':''"></ion-icon>
				<!-- <span class="ocenka">нет оценок	</span> -->
			</div>
		</div>
		<div>
			<div padding-start padding-bottom>	
				{{ event.description }}
			</div>
		</div>

	</ion-item-group>
	<ion-item-group>
	    <ion-item-divider text-uppercase color="light">СПИКЕРЫ</ion-item-divider>

		<ion-list>
		  <ion-item>
		    <ion-avatar slot="start">
		    	<!-- <ion-icon name="body" style="font-size: 40px;"></ion-icon> -->
		     	<img src="{{speaker.photo}}" style="border-radius: 50%;width: 50px; height: 50px;">
		    </ion-avatar>
		    <ion-label>
		      <h2>{{speaker.name}}</h2>
		      <h3>{{speaker.prof}}</h3>
		      <p>{{speaker.company}}</p>
		    </ion-label>
		  </ion-item>
		</ion-list>
	</ion-item-group>
<!-- {{id}} -->
</ion-content>