<ion-header>
  <ion-toolbar color="">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
<!--     <ion-buttons slot="end">
      <ion-button routerLink="/search">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    
<!--     <ion-buttons slot="start"> 
      <ion-back-button defaultHref="home"></ion-back-button> 
    </ion-buttons> color="primary" -->
    <ion-title>
      Расписание
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="" class="days">


    <ion-buttons slot="start" *ngIf="dateUrl!='02.12.2018'">
      <ion-button>
        <ion-badge color="light">
          СБ 1 Суббота
        </ion-badge>
      </ion-button>
      <ion-button class="noactive" (click)="changeDate('02.12.2018')">

        <ion-badge>
          ВС 2 Воскресенье
        </ion-badge>

      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start" *ngIf="dateUrl=='02.12.2018'">
      <ion-button class="noactive" (click)="changeDate('01.12.2018')">
        <ion-badge>
          СБ 1 Суббота
        </ion-badge>
      </ion-button>
      <ion-button>

        <ion-badge color="light">
          ВС 2 Воскресенье
        </ion-badge>

      </ion-button>
    </ion-buttons>

  </ion-toolbar>

    <ion-item>
      <ion-label>Зал</ion-label>
      <ion-select [(ngModel)]="categoryselect" interface="popover" placeholder="Выберите одну" (ionChange)="changeCategory($event)">

        <ion-select-option style=" border-left: 3px solid #F44336; " value="Все">Все
        </ion-select-option>
        <ion-select-option style=" border-left: 3px solid #F44336; " *ngFor="let hall of halls_theme; let y = index" value="{{hall}}">{{halls[y]}}
        </ion-select-option>


      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label>Тема</ion-label>
      <ion-select [(ngModel)]="themeselect" interface="popover" placeholder="Выберите одну" (ionChange)="changeTheme($event)">

        <ion-select-option style=" border-left: 3px solid #F44336; " value="Все">Все
        </ion-select-option>
        <ion-select-option style=" border-left: 3px solid #F44336; " *ngFor="let theme of themeDatas; let y = index" value="{{theme.value}}">{{theme.name}}
        </ion-select-option>


      </ion-select>
    </ion-item>



</ion-header>

<ion-content>

  <div *ngIf="!dataLoad" style="margin: 20px auto;width: 35px;"><ion-spinner></ion-spinner></div>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
          pullingText="Pull to refresh"
          pullingIcon="arrow-up"
          refreshingSpinner="crescent">

    </ion-refresher-content>

  </ion-refresher>

  <ion-item-group *ngFor="let key of events; let i = index">
    <ion-item-divider color="light">{{key}}</ion-item-divider>

    <ion-item *ngFor="let ev of eventsArr[key]" style="--padding-start: 0; --inner-padding-end: 0px;">
      <!-- <a routerLink="/item/{{ev.id}}"> -->
        <ion-item routerLink="/item/{{ev.id}}" class="no-padding-suka" style=" --border-color: rgba(var(--ion-item-border-color-rgb, 0, 0, 0), 0);width: 100%;padding: 0!important;">
          <div class="list_wraper">
            <strong>{{ev.name}}</strong>
              
            <div class="overflow__text">
              <p> {{ev.time_start}} - {{ev.time_end}}, Зал "{{hallsObject[ev.hall_id].name}}" - {{hallsObject[ev.hall_id].theme}}</p>
              <ion-badge *ngFor="let themesEv of ev.themes">
              {{themesEv}}
              </ion-badge>
            </div>

          </div>
          <div>
          </div>
        </ion-item>
        <ion-button class="like button button-clear hydrated" (click)="likeIt(ev,ev.id)">
          <ion-icon name="heart-empty" *ngIf="ev.favoriteBy"></ion-icon>  
          <ion-icon name="heart" *ngIf="!ev.favoriteBy"></ion-icon>  
        </ion-button>
      <!-- </a> -->
    </ion-item>

  </ion-item-group>

</ion-content>