<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header class="blue__header" padding>
         <!-- slot="fixed -->
          <ion-fab vertical="top" horizontal="center">
            <ion-fab-button color="light">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        <ion-toolbar>
          
          <ion-title>Регистрация</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          
         <!--  <ion-menu-toggle>
            <ion-item>
              
              <ion-icon name="search"></ion-icon>
              <ion-label>
                Поиск
              </ion-label>
              
            </ion-item>
          </ion-menu-toggle> -->

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of infoPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>


        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
