<ion-header>
  <ion-toolbar>
	<ion-buttons slot="start"> 
      <ion-back-button defaultHref="list"></ion-back-button> 
    </ion-buttons>
    <ion-title>Избранное</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	
  <div *ngIf="!dataLoad" style="margin: 20px auto;width: 35px;"><ion-spinner></ion-spinner></div>

 <ion-item-group *ngFor="let key of events; let i = index">
    <ion-item-divider color="light">{{key}}</ion-item-divider>

    <ion-item *ngFor="let ev of eventsArr[key]" style="--padding-start: 0; --inner-padding-end: 0px;">
      <!-- <a routerLink="/item/{{ev.id}}"> -->
        <ion-item routerLink="/item/{{ev.id}}" class="no-padding-suka" style=" --border-color: rgba(var(--ion-item-border-color-rgb, 0, 0, 0), 0);width: 100%;padding: 0!important;">
          <div class="list_wraper">
            <strong>{{ev.name}}</strong>
              
            <div class="overflow__text">
              <p> {{ev.time_start}} - {{ev.time_end}}, Зал "{{hallsObject[ev.hall_id].name}}" - {{hallsObject[ev.hall_id].theme}}</p>
            </div>
          </div>
        </ion-item>
   <!--      <ion-button class="like button button-clear hydrated" (click)="likeIt($event,ev.id)" >
          <ion-icon name="heart-empty"></ion-icon>  
        </ion-button> -->
      <!-- </a> -->
    </ion-item>

  </ion-item-group>

</ion-content>
