// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
ion-toolbar {
--background: rgb(243, 194, 3);
--ion-color-base: rgb(243, 194, 3) !important;

    // border-bottom: 1px solid #dadada;
    // height: 50px;
    // margin-top: -5px;
}
ion-header {
// --background: #fff;
// --ion-color-base: #fff !important;
}
ion-item-divider.light {
    font-weight: 600;
    color: #777;
}
ion-header ion-title {
    text-align: center;
    padding-left: 0;	
}
ion-header::not(.blue__header) ion-title {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 0;
    text-align: center;
    left: 0;
}
.header-md::after {
	background-image:none;
}
.blue__header ion-toolbar {
    padding-top: 50px;
    border-radius: 5px;
    --background: #f3f3f3;
    --ion-color-base: #f3f3f3;
}
.blue__header ion-fab {
    top: 25px;
}
.like {
    position: absolute;
    right: 15px;
    // font-size: 25px;
    top: 20px;   
    --box-shadow:0;
    color: #a0a0a0;
}
.star ion-icon {
    font-size: 20px;
    color: #a0a0a0;
}
